@model IEnumerable<Probafeladat.Models.Package>

@{
    ViewData["Title"] = "Index";
}

<h4>Megtalált csomagok:</h4>

@if (Model.Count() == 0)
{
    <h3>Nincs megjeleníthető eredmény.</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Identifier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShippingState)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identifier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingState.Description)
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
}

<p>@Html.ActionLink("Vissza a csomagjaimhoz", "Index", "MyPackages")</p>

